@model BookStore.Models.Cart

@{
    ViewBag.Title = "Cart";
    List<BookStore.Models.Book> books = ViewBag.books;
    
}

<div class="content">
    <h2>Содержание корзины:</h2>
    @if (Model.Content.Count == 0) {
        <p>Корзина пуста</p>
    } else {
        <table class="data_table">
            <tr>
                <th>Название книги</th>
                <th>Количество</th>
                <th>Удалить</th>
            </tr>
            @foreach (var item in Model.Content) {
                <tr>
                    <td>@books.Find(book => book.ID == item.Key).Name</td>
                    <td>@item.Value</td>
                    <td>@Html.ActionLink("Удалить из корзины", "Remove", new { id = item.Key })</td>
                </tr>
            }
        </table>
        @Html.ActionLink("Очистить корзину", "Clear")
    }
</div>
