<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Примечание: Добавьте записи в файл App.config для параметров компиляции,
    которые применяются только к проекту теста.
-->
<configuration>
  <appSettings>

  </appSettings>

  <connectionStrings>
    <add name="BookStoreData" connectionString="Data Source=MAKAR-PC\SQLEXPRESS;Initial Catalog=BookStoreData;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BookStoreContext" connectionString="metadata=res://*/Models.BookStoreDataModel.csdl|res://*/Models.BookStoreDataModel.ssdl|res://*/Models.BookStoreDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAKAR-PC\SQLEXPRESS;initial catalog=BookStoreData;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
